/* 文字特技 */
.h1-fonts {
    font-size: 1.5em;
    color: #228DFF;
    font-family: Iceland;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    text-shadow: 0 0 1px #fff,
        0 0 2px #fff,
        0 0 3px #fff,
        0 0 4px #228DFF,
        0 0 7px #228DFF,
        0 0 8px #228DFF,
        0 0 10px #228DFF,
        0 0 15px #228DFF;
}
#sty-btn:hover .h1-fonts{
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
    color: #ffffff;
}

@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #228DFF,
        0 0 70px #228DFF,
        0 0 80px #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #228DFF,
        0 0 70px #228DFF,
        0 0 80px #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}